/* index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg);
  color: var(--text-dark);
}

a {
  text-decoration: none;
}
